*{
    font-family: 'Press Start 2P', cursive;
    color: red;
}

.grid{
    display: grid;
    grid-template-columns: 320px  200px;
}

.right-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board{
    border: solid 3px;
}

.play-button{
    background-color: aquamarine;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}